<h1> Greeting Edit </h1>

<%= simple_form_for([@greeting], remote: true) do |f| %>
    <%= f.input :word, as: :string %>
    <%= f.input :story, as: :text %>
    <%= f.input :audio, as: :string %>
    <%= f.button :submit, class: "btn-success" %>
<% end %>


<!--<%= link_to 'UPDATE', greeting_path(@greeting), method: :patch, data: {confirm: "Are you sure?"} %> -->
