

<div class="container">
<br>
  <div class = "jumbotron jumbotron-greeting">
    <div class = "jumbotron jumbotron-greeting-sub" id = 'jumbotron-greeting-sub-content'>
      <h2><%= @greeting.word %></h2>
      <h5>A greeting from <%= link_to @greeting.region.name, region_path(@greeting.region) %> region</h5>
      <hr class="my-4">
      <p><%= @greeting.story%></p>
      <br>
      <div class = 'button-wrap button-wrap-jumbotron'> 
        <%= button_to 'DELETE', greeting_path(@greeting),class: 'btn btn-danger', method: :delete, data: {confirm: "Are you sure?"}%>
        <%= button_to 'EDIT', edit_greeting_path(@greeting), method: :get, class: 'btn btn-warning'%>

      </div>
    </div>
    <div class = "jumbotron jumbotron-greeting-sub" id = "jumbotron-greeting-sub-author">
      <h5>Author</h5>
      <br>
      <% if @greeting.contributor.profpic.attached? %>
        <img class="avatar-large" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" src="<%= cl_image_path @greeting.contributor.profpic.key , height: 150, width: 200, crop: :fill %>" />
      <% else %>
        <%= cl_image_tag("v1615248488/hello_world_contributor/smiley_zlrvcz.jpg", height: 150, width: 200, crop: :fill, class: "avatar-large dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false) %>
      <% end %>
      <br>
      <p> <br><%= link_to @greeting.contributor.username , contributor_path(@greeting.contributor.id) %></p>
    </div>
  </div>


  <div class = 'greeting-photo-gallery'>
    <h5>Gallery:</h5>

    <div class="row">
      <% @photos_by_greeting.each do |photomap|%>
          <div class="col-sm-6">
            <div class="card mb-3">
            <a href= <%= photo_path(photomap) %> >
            <% if photomap.gallery_photo.attached? %>
              <img class="card-img-top" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" src="<%= cl_image_path photomap.gallery_photo.key , height: 300, width: 400, crop: :fill %>" />
            <% else %>
              <%= cl_image_tag("v1615258655/hello_world_photo/question_k1lulh.jpg", height: 300, width: 400, crop: :fill, class: "avatar-large dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false) %>
            <% end %>
            </a>          
            <div class="card-body">
              <p class="card-text"><%=photomap.description%></p>
            </div>
            </div>
          </div>
      <%end  %>
    </div>
  </div>
</div>