<div class="navbar-expand-sm navbar-klb">

  <div class="navbar-left">
    <%# <img src="https://www.coolgenerator.com/Data/Textdesign/202103/48bfb1e79d28d9b391620191a62cd222.png" /> %>
    <span id="navbar-typed-text"></span>
  </div>




  <div class="navbar-right">
    <ul class="navbar-nav mr-auto">
      <li class="navbar-menu">
        <div class="dropdown">
          <%= link_to "Halaman Utama", root_path, class: 'navbar-menu-link'%>
        </div>
      </li>
      <li class="navbar-menu-border">
      </li>


      <div class="dropdown" id = "dropdown-multi">
          <%if !user_signed_in? %>
            <%= link_to "Login/Register", "#", class: 'navbar-menu-link'%>
            <div class="dropdown-content">
                <%= link_to "Log in", new_user_session_path, class: 'navbar-menu-link'%>
                <%= link_to "Register", new_user_registration_path, class: 'navbar-menu-link'%>
            </div>
          <%else  %>
            <%= link_to "Keranjang", batches_path, class: 'navbar-menu-link'%>
            
             <%= link_to "Log out", destroy_user_session_path, method: :delete, class: 'navbar-menu-link'%>
          <%end  %>
        </div>
        
      <li class="nav-item">
        <img class="avatar avatar-navbar" id="navbarDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" src="https://t3.ftcdn.net/jpg/01/18/01/98/360_F_118019822_6CKXP6rXmVhDOzbXZlLqEM2ya4HhYzSV.jpg" />
      </li>
      <li class="navbar-menu">
        <div class="dropdown">
        <%if user_signed_in?  %>
          <a class ="navbar-menu-link navbar-menu-link-name"><%= current_user.name.split(" ")[0] %></a>
        <%end  %>
        </div>
      </li>
    </ul>
  </div>

</div>
