

<div class="container">
  <div class = "kolom-pencarian">


     <%= simple_form_for :search, method: :get, html: { class: "form-inline", style: "justify-content: center" } do |f| %>
      <div class="pencarian-item">
        <input class="form-pencarian-item" type="text" placeholder="  Ketik nama barang...." name="query" />
        <button type="submit" class="tombol-pencarian-item tombol">
         Cari
        </button>
      </div>
    <% end %>
  </div>
  <div class = "grid-container <%= "bypass-grid" if @items.length() == 1%>">

    <% @items.each do  |item|%>
      <div class = "kartu">
          <div class = kartu-barang-foto>
            <%= cl_image_tag(item.foto_barang.key,:width=>150, :height=>150, :crop=>"thumb") %>
          </div>
          <div class = 'kartu-barang-deskripsi'>
            <div class = "kartu-barang-deskripsi-kiri">
              <p><%=item.nama_barang%></p>
              <h5>Rp <%=format_price(item.harga_satuan)%></h5>
              <% if user_signed_in?  %>
              <div class= tombol-kartu>
                <div class= tombol-kartu-satu>

                  <%= simple_form_for(@batch, remote: true) do |f| %>
                    <%= f.input :batch_qty, label: 'Kuantitas', input_html: { min: 0, max: item.qty } %>
                    <%= f.hidden_field :purchase_id, value: @purchase.id %>
                    <%= f.hidden_field :item_id, value: item.id %>
                    <%= f.button :submit, 'Update', class: "btn-success tombol-beli" %>
                  <% end %>

                  
                </div>
              </div>
              <%end  %>
            </div>
            <div class = "kartu-barang-deskripsi-kanan"> 
              <div class = "kartu-barang-deskripsi-kanan-atas">      
                <p>Stok : <%=item.qty%></p>
                <p>SKU : <%=item.no_sku%></p>
              </div>
            <%=link_to "Hapus", batch_path(Batch.where(purchase: @purchase, item: item)), method: :delete,  data: { confirm: "Are you sure you to remove this item from your cart ?" }, class: 'btn btn-danger'   %>
            </div>
          </div>
      </div>
    <% end  %>
  </div>
</div>