<h1>Photos and their Stories</h1>
<br>
<% @photos.each do |photo| %>
  <% if photo.gallery_photo.attached? %>
    <img class="avatar-large" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" src="<%= cl_image_path photo.gallery_photo.key , height: 150, width: 200, crop: :fill %>" />
  <% else %>
    <%= cl_image_tag("v1615258655/hello_world_photo/question_k1lulh.jpg", height: 150, width: 200, crop: :fill, class: "avatar-large dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false) %>
  <% end %>
  <h3><%= photo.description%></h3>
  <p>From <%= link_to photo.greeting.word, greeting_path(photo.greeting) %></p>
  <p><%= link_to 'Details', photo_path(photo) %></p>
  <br>
<%end  %>