
<h1>Photo</h1>
<p><%= link_to 'DELETE', photo_path(@photo), method: :delete, data: {confirm: "Are you sure?"}%></p>
<p><%= link_to 'EDIT', edit_photo_path(@photo)  %></p>


<% if @photo.gallery_photo.attached? %>
  <img class="avatar-large" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" src="<%= cl_image_path @photo.gallery_photo.key , height: 300, width: 400, crop: :fill %>" />
<% else %>
  <%= cl_image_tag("v1615258655/hello_world_photo/question_k1lulh.jpg", height: 300, width: 400, crop: :fill, class: "avatar-large dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false) %>
<% end %>
<h3><%=@photo.description  %></h3>
<p>Posted for <%=link_to @greeting_by_photo.word, greeting_path(@greeting_by_photo)  %> word</p>
<p>Authored by <%=link_to @contributor_by_photo.username, contributor_path(@contributor_by_photo)  %></p>