
<div class = 'container'>
<br>
  <div class = 'jumbotron jumbotron-region'>
    <div class = 'jumbotron-region-sub '>
      <h1><%= @region.name%></h1>
      <h4><%= @region.photomap%></h4>
    </div>
    <div class = 'jumbotron-region-sub '>
      <ul>
        <% @greetings_slice.each do |greet|%>
          <li><%= link_to greet.word, greeting_path(greet) %> by <%= greet.contributor.username %></li>
        <%end  %>
      </ul>
    </div>

  </div>
    <p>
      <% @photos_by_region.each do |photo| %>
        <% if photo.gallery_photo.attached? %>
          <img class="avatar-large" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" src="<%= cl_image_path photo.gallery_photo.key , height: 90, width: 120, crop: :fill %>" />
        <% else %>
          <%= cl_image_tag("v1615258655/hello_world_photo/question_k1lulh.jpg", height: 90, width: 120, crop: :fill, class: "avatar-large dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false) %>
        <% end %>
        <h6><%= photo.description %></h6>
      <% end %>
    <p>
  <br>


  <p><%=link_to "See all regions", regions_path %></p>
</div>