<h3>Become a contributor!</h3>

<%= simple_form_for(@contributor) do |f| %>
    <%= f.input :username, as: :string %>
    <%= f.input :bio, as: :text %>
    <%= f.input :email, as: :string %>
    <%= f.input :password, as: :string %>
    <%= f.input :profpic, as: :file %>
    <%= f.button :submit, class: "btn-success" %>
<% end %>